################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstApp1/.vs/FirstApp1/v16
/FirstApp1/FirstApp1/bin
/FirstApp1/FirstApp1/obj
